#navbar{
    flex-direction: column;
    align-items: center;
}
#navbar .logo{
    margin-top: -6px;
    height: 35px;
}
#navbar .logo img{
    height: 30px;
}
#navbar ul{
    margin-left: -8px;
    padding: 10px;
}
#navbar ul li a{
   font-size: 13px;
   padding:4px 8px;
   font-weight: bold;
}
#introduction{
    padding: 0px;
}
#introduction::before{
    height: 57%;
}
#primary{
    margin-top: 36px;
}
.heading1{
    margin-top: 20px;
}
#services{
    flex-direction: column;
}
#services .box1{
    margin:3px 0px;
}
#client{
    flex-wrap: wrap;
    margin-top: 34px;
    border: 2px solid black;
    border-radius: 25px
}
#client-section::before{
    height: 40%;
} 
#client .client-items {
    padding: 13px;
}
#client .client-items img{
    height: 43px;
    padding: 5px 5px;
}
#contact::before{
    height: 65%;
}
#contact-box form{
    width: 80%;
}
